.layers-editor {
    -fx-padding: 100 25;
    -fx-alignment: top_right;

    -fx-font-size: 15;

    -fx-background-color: -less-main-bg;
    -fx-border-color: -intermediate;
    -fx-border-width: 0 0 0 1;
    -fx-effect: dropshadow(three-pass-box, -near-black, 10, 0, 0, 0);
}

.layers-view {
    -fx-alignment: bottom_right;
    -fx-spacing: -1;
}

.layer-view {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-color: -main-bg;
    -fx-border-color: -near-black;
    -fx-border-width: 1;
}

.view-svg {
    -fx-stroke: black;
    -fx-stroke-width: 1.5;
    -fx-fill: transparent;
}

.layer-view:hover {
    -fx-background-color: -light-highlight-color;
}
.layer-view:selected {
    -fx-background-color: -darker-highlight-color;
}
.layer-view:selected:hover {
    -fx-background-color: -darkest-highlight-color;
}
.layer-view:selected > .label {
    -fx-text-fill: white;
}
.layer-view:selected > .button > .view-svg {
    -fx-stroke: white;
}

.view-svg:hover {
    -fx-stroke: red !important;
}

.check-box > .box > .mark {
    -fx-background-color: transparent;
}
.check-box:selected > .box > .mark {
    -fx-background-color: -near-black;
}

.layer-view:selected > .check-box:selected > .box > .mark {
    -fx-background-color: white;
}

.check-box, .check-box > .box {
    -fx-background-color: transparent;
}

.check-box {
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: -near-black;
}